.stepper__value {
  display: inline-block;
  font-size: 23px;
  line-height: 39px;
  text-align: center;
  width: 48px;
}

.stepper__button {
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  text-transform: none;
  border: none;
  border-radius: 5px;
  box-shadow: none;
  font-size: 22px;
  height: 39px;
  line-height: 39px;
  margin: 0;
  outline: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 36px;
  z-index: 2;
}
.stepper__button_increase {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.stepper__button_decrease {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
